#profile{
    font-family: "Montserrat", serif;
}
.card-title{
    color: #bc102e;
    font-size: 1.4rem;
}
.update-title{
    font-size: .8rem;
}
.email{
    color: #bc102e;
}
#profile-picture{
    border-radius: 50%;
}