@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.logo{
    width: 100%;
    max-width: 150px;
    height: 60px;
    margin-left: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#whole-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    transition: background-color 0.3s ease;
}

.nav{
    display: flex;
    gap: 23px;
    list-style: none;
    margin-right: 70px;
    flex-wrap: wrap;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    transition: 0.3s;
}
.menu-icon{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background-color: #C8A1E0;
    padding: 10px 20px;
    border-radius: 10px;
}
.menu-icon .bar{
    width: 25px;
    height: 3px;
    background-color: #7ACAD2;
    transition: 0.3s;
}
.nav.active{
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: rgb(226,191,217, 0.5);
    position: absolute;
    padding: 5px;
    top: 80px;
    right: -18px;
    text-align: center;
    border-radius: 10px;
}


/* BINI MIKHA */
.nav-link1::after{
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 5px;
    background-color: #C7253E;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.nav-link1:hover{
    color: #C7253E;
    transition: 0.4s;
    text-shadow: 0px 10px 50px  #CC001F;
}
.nav-link1:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* BINI MALOI */
.nav-link2::after{
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 5px;
    background-color: #FFC700;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    border-radius: 50px;
}
.nav-link2:hover{
    color: #FFC700;
    transition: 0.4s;
    text-shadow: 0px 10px 40px #F7EE2E;
}
.nav-link2:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* BINI JHOANA */
.nav-link3:hover{
    color: #1E2A5E;
    transition: 0.4s;
    text-shadow: 0px 10px 40px #0000F6;
}
.nav-link3::after{
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 5px;
    background-color: #1E2A5E;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    border-radius: 50px;
}
.nav-link3:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* BINI AIAH */
.nav-link4::after{
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 5px;
    background-color: #508C9B;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.nav-link4:hover{
    color: #508C9B;
    transition: 0.4s;
    text-shadow: 0px 10px 50px  #0091F7;
}
.nav-link4:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* BINI AIAH */
.nav-link5::after{
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 5px;
    background-color: #508C9B;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.nav-link5:hover{
    color: #508C9B;
    transition: 0.4s;
    text-shadow: 0px 10px 50px  #0091F7;
}
.nav-link5:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



/*ABOUT SLIDER */
#about{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.container{
    display: flex;
    margin: 0px auto;
    position: relative;
    width: 80%;
    height: 850px;
    box-shadow: 0 30px 50px #dbdbdb;
}
.container .slide .item{
    display: inline-block;
    width: 180px;
    height: 300px;
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 00 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    transition: 0.5s;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 210px);
}
.slide .item:nth-child(5){
    left: calc(50% + 430px);
}
.slide .item:nth-child(6){
    left: calc(50% + 650px);
}
.slide .item:nth-child(n + 7){
    left: calc(50% + 870px);
    opacity: 0;
}
.item .content{
    display: none;
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
}
.slide .item:nth-child(2) .content{
    display: block;
}
.content .name{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0 10px 10px pink;
    font-weight: bolder;
    opacity: 0;
    animation: animate 1.3s ease-in-out 1 forwards;
}
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    text-shadow: 0 10px 10px #7ACAD2;
}
/* BINI SPAN NAMES ON DES*/
.aiah{
    color: #7695FF;
    font-weight: bolder;
    font-size: 20px;
}
.colet{
    color: #BEDC74;
    font-weight: bolder;
    font-size: 20px;
}
.maloi{
    color: #F6FAB9;
    font-weight: bolder;
    font-size: 20px;
}
.gwen{
    color: #FF8343;
    font-weight: bolder;
    font-size: 20px;
}
.staku{
    color: #E3A5C7;
    font-weight: bolder;
    font-size: 20px;
}
.mikha{
    color: #A4001F;
    font-weight: bolder;
    font-size: 20px;
}
.jhoanna{
    color: #4E31AA;
    font-weight: bolder;
    font-size: 20px;
}
.sheena{
    color: #C8A1E0;
    font-weight: bolder;
    font-size: 20px;
}
.content button{
    padding: 10px 20px ;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    background-color: #7ACAD2;
    color: white;
    border-radius: 10px;
}
.content button:hover{
    background-color: white;
    color: #7ACAD2;
    transition: 0.3s;
}
@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}
.button button{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #E2BFD9;
    background-color: #7ACAD2;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
}
.button button:hover{
    background-color: white;
    color: #7ACAD2;
}


/* MUSIKAS */

#musika{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;

}
/* .musika-container .text{
    text-align: center;
    font-size: 46px;
    color: #324B4E;
    font-weight: 400;
}  */

.musika-slider{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
    perspective: 500px;
}
.musika-slider .musika-item{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 165px);
    width: 350px;
    height: 350px;
    transition: 0.5s;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
    transform-origin: bottom;
    user-select: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0002);
}
.musika-slider .musika-item:nth-child(1){
    transform: translate3d(-350px,0,0) scale(0.9) rotateY(35deg) ;
    z-index: 1;
}
.musika-slider .musika-item:nth-child(2){
    transform: translate3d(-350px, 0, 0) scale(0.9) rotateY(35deg) ;
    z-index: 2;
}
.musika-slider .musika-item:nth-child(3){
    transform: translate3d(-250px, 0, 0) scale(1) rotateY(25deg) ;
    z-index: 3;
}
.musika-slider .musika-item:nth-child(4){
    transform: translate3d(0px, 0, 0) scale(1.1) rotateY(0deg) ;
    z-index: 4;
}
.musika-slider .musika-item:nth-child(5){
    transform: translate3d(250px, 0, 0) scale(1) rotateY(-25deg) ;
    z-index: 3;
}
.musika-slider .musika-item:nth-child(6){
    transform: translate3d(350px, 0, 0) scale(0.9) rotateY(-35deg) ;
    z-index: 2;
}
.musika-slider .musika-item:nth-child(7){
    transform: translate3d(350px, 0, 0) scale(0.9) rotateY(-35deg) ;
    z-index: -1;
}
.musika-slider .musika-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.musika-controls{
    position: absolute;
    bottom: 75px;
    display: flex;
}
.musika-controls span{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

















/* }
.musika-slider{
    width: 100%;
}
.musika-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.musika-item{
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}
.musika-item1{
    left: 15%;
    opacity: 4;
    transform: translateX(-50%);
}
.musika-item2, .musika-item4{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}
.musika-item2{
    left: 30%;
    transform: translateX(-50%);

}
.musika-item3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 330px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;

}
.musika-item4{
    left: 70%;
    transform: translateX(-50%);

}
.musika-item5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);

}
.musika-item6, .musika-item8{
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}
.musika-item6{
    right: 15%;
    transform: translateY(-50%);
}
.musika-item7{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 330px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.musika-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;

}
.musika-controls button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;


}
.musika-controls button::after{
    outline: none;
}
.musika-controls-prev{
    position: relative;
}
.musika-controls-prev::before{
    border: solid black;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}
.musika-controls-prev:hover::before{
    left: -40px;
}
.musika-controls-next{
    position: relative;
}
.musika-controls-next::before{
    border: solid black;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}
.musika-controls-next:hover::before{
    right: -40px;
}
.musika-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.musika-nav li{
    background-color: white;
    border-radius: 30%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}
.musika-nav li.musika-item-selected{
    background: #555;

}
 */ 








/* FOR RESPONSIVENESS */
@media (max-width: 1100px) {
/* First Content navbar and backgrround */
    .logo{
        max-width: 100px;
        margin-left: 60px;
    }
    .nav{
        display: none; 
        gap: 15px;
        margin-right: 5%;
        margin-bottom: 15px;
    }
    .nav-item a{
        font-size: 18px;
    }
    .menu-icon {
        display: flex;
        margin-right: 5%;
    }
    .nav.active {
        display: flex; 
    }
    .nav-link1::after, .nav-link2::after, .nav-link3::after, .nav-link4::after, .nav-link5::after{
        bottom: -8px;  
    }

    /* ABOUT SLIDER CONTAINER */
    .container{
        width: 80%;
        height: 400px;
    }
    .container .slide .item{
        width: 100px;
        height: 120px;
    }
    .slide .item:nth-child(1),
    .slide .item:nth-child(2){
        width: 100%;
        height: 100%;
    }
    .slide .item:nth-child(3){
        left: 58%;
    }
    .slide .item:nth-child(4){
        left: calc(50% + 180px);
    }
    .slide .item:nth-child(5){
        left: calc(50% + 290px);
    }
    .slide .item:nth-child(6){
        left: calc(50% + 400px);
    }
    .item .content{
        top: 60%;
        left: 30px;
    }
    .content .name{
        font-size: 30px;
    }
    .content .des{
        font-size: 10px;
    }
    .content button{
        padding: 5px 10px ;
    }
    .aiah, .colet, .jhoanna, .maloi, .mikha, .staku, .sheena, .gwen{
        font-size: 15px;
    }
    
}
@media (max-width: 768px){
    /* First Content navbar and backgrround */
    .logo{
        max-width: 50px;
        margin-left: 25px;
        height: 20px;
    }
    .nav{
        display: none; 
        gap: 5px;
        margin-right: 5%;
        margin-bottom: 15px;
    }
    .nav-item a{
        font-size: 8px;
    }
    .nav-link1::after, .nav-link2::after, .nav-link3::after, .nav-link4::after, .nav-link5::after{
        bottom: -8px;
        
    }
    .menu-icon {
        margin-right: 20%;
        padding: 5px 7px;
        border-radius: 5px;
    }
    .menu-icon .bar{
        width: 13px;
        height: 1px;
    }
    .nav.active {
        top: 40px;
        right: 58px;
        border-radius: 5px;
    }
    .nav-link1::after, .nav-link2::after, .nav-link3::after, .nav-link4::after, .nav-link5::after{
        bottom: -8px;  
    }
    
    /* ABOUT SLIDER CONTAINER */
    .container{
        width: 80%;
        height: 200px;
    }
    .container .slide .item{
        width: 50px;
        height: 65px;
        border-radius: 8px;
    }
    .slide .item:nth-child(1),
    .slide .item:nth-child(2){
        width: 100%;
        height: 100%;
    }
    .slide .item:nth-child(3){
        left: 40%;
    }
    .slide .item:nth-child(4){
        left: calc(50% + 25px);
    }
    .slide .item:nth-child(5){
        left: calc(50% + 80px);
    }
    .slide .item:nth-child(6){
        left: calc(50% + 135px);
    }
    .slide .item:nth-child(n + 7){
        left: calc(50% + 215px);
        opacity: 0;
    }
    
    .content{
        margin-top: 30px;
        margin-left: -90px;
    }
    .item .content{
        top: 40%;
        left: 100px;
    }
    .content .name{
        font-size: 15px;
    }
    .content .des{
        font-size: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 30%;
    }
    .content button{
        padding: 2px 7px ;
        font-size: 7px;
    }
    .content button:hover{
        background-color: white;
        color: #7ACAD2;
        transition: 0.3s;
    }
    .aiah, .colet, .jhoanna, .maloi, .mikha, .staku, .sheena, .gwen{
        font-size: 6px;
    }
    .button{
        bottom: 7px;
    }
    .button button{
        width: 20px;
        height: 15px;
        font-size: 10px;
        margin: 0 2px;
    }
}